<div class="col-md-12">	
	<div class="col-md-12">
		<div class="row" style="margin-top:10px;">
			<div class="col-md-1">
				<button class="btn" ng-click="openModal()" >Add</button>
			</div>
			<div class="col-md-4">
				<input type="text" ng-model="search" class="form-control" placeholder="Search Users">
			</div>
		</div>
		<div class='row' style="margin-top:10px;">
			<table class="table table-bordered">
			   <thead>
		        <tr>
		          <!-- <th>#</th> -->
		          <th class="col-1">Username</th>
		          <th class="col-1">Role</th>
		          <th class="col-1">Reg Time</th>
		          <th></th>
		          <th></th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr ng-repeat="user in users | filter:search" ng-include="getTemplate(user)">         
		        </tr>
		       </tbody>	
			</table>
		</div>
	</div>

	<!-- Templates  		  	  -->
	<script type="text/ng-template" id="display">
		<td>{{user.username}}</td>
		<td>{{user.role}}</td>
		<td>{{user.timestamp}}</td>
		<td>
			<button class='btn' ng-click="editUser(user)">Edit</button>
		</td>
		<td>
			<button class='btn' ng-click="deleteuser($index)">delete</button>
		</td>
	</script>
<!-- <input class="edit-body" type="text" ng-model="editedUser.homeNum" /> -->
	<script type="text/ng-template" id="edit">	    
	    <td class="col-xs-2"><input class="form-control" type="text" ng-model="editedUser.username" /></td>
	    <td class="col-xs-2">
	    	<select ng-init="editedUser.roleid = roles[0].id" ng-model="editedUser.roleid" class="form-control">
			  <option ng-repeat="role in roles" value="{{role.id}}">{{role.role}}</option>
			</select>
	    </td>
	    <td class="col-xs-2">
	    	<input class="edit-body" type="text" ng-model="editedUser.timestamp" readonly />
	    </td>
	    <td class="col-xs-2">
	        <button class="btn" ng-click="saveUser($index)">Save</button>	        
	    </td>
	    <td class="col-xs-2">
	    	 <button class="btn"  ng-click="reset()">Cancel</button>
	    </td>
	</script>
		<!-- Modal -->
	<script type="text/ng-template" id="userModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Add User</h4>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" name="newuser" angular-validator-submit="submit()" novalidate angular-validator>
				<div class="form-group">
					<label class="col-sm-3 control-label">Username</label>
					<div class="col-sm-9">
					  	<input required name= "uname" class="form-control" type="text" ng-model="editedUser.username" />
					</div>
				</div>
				<div class="form-group">
				<label class="col-sm-3 control-label">Role</label>
					<div class="col-sm-9">
					  	<!--select required name="urole" ng-model="editedUser.role" class="form-control">
							<option ng-repeat="role in roles" value="{{role.id}}">{{role.role}}</option>
						</select-->
						<select class="form-control" ng-model="editedUser.role" ng-options = "role.role for role in roles"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" >Add</button>
					</div>
				</div>
			</form>       
		</div>
		<div class="modal-footer">
			 <button class="btn btn-warning" ng-click="cancel()">Cancel</button>    
		</div>
	</script>
</div>